.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0em 0em 3vw;
    align-items: flex-start;
    margin: 0.4em auto 0em;
    padding-bottom: 1em;
    border-radius: 1.5em;
    border: 0.5em solid black;
    background-color: black;
    background-image: url("../../assets/images/logo2.webp");
    background-repeat: no-repeat;
    background-position: 48vw;
    background-size: 40%;
    min-width: 70vw;
    max-width: 80vw;
    min-height: 98vh;
    max-height: 98vh;
    overflow: hidden;
    .login-title {
        max-width: 40vw;
        color: white;
        font-weight: 400;
        text-shadow: -2px 3px 1em
            var(--globalGreenHighlight-background-color-glitch);
        padding-right: 0em;
        float: right;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0em 0em 0.3em 0em;
        .login-span {
            position: revert;
            margin-left: 0em;
            .login-text {
                font-weight: 600;
            }
        }
    }
    .MuiCard-root {
        margin-top: 3em;
        min-width: 43vw;
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0em;
        background-color: rgba(47, 47, 47, 0.253);
        color: white;
        border-radius: 2em;
        .login-interaction-container {
            display: flex;
            justify-content: space-between;

            .native-login {
                display: flex;
                flex-direction: column;
                .register-link {
                    align-self: flex-start;
                    margin: 0.25em 1em;
                    font-size: 0.9em;
                    text-decoration: none;
                    color: var(--globalGreenHighlight-background-color);
                    transition: color 300ms ease;

                    &:hover {
                        color: var(
                            --globalGreenHighlight-background-color-glitch
                        );
                    }
                }
            }
            .other-logins-container {
                margin: 2em;
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: flex-start;
                border-left: 1px solid
                    var(--globalGreenHighlight-background-color-glitch);
                min-height: 17vh;
                background-color: transparent;
                .login-btn {
                    padding: 0em 0.5em;
                    max-height: 3.5em;
                    min-height: 3.5em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 1em;
                    min-width: 98%;
                    text-align: left;
                    background-color: transparent;
                    color: var(--globalGreenHighlight-background-color);
                    border: 2px solid
                        var(--globalGreenHighlight-background-color);
                    border-radius: 0.7em;
                    transition: background-color 500ms ease, color 500ms ease,
                        border 500ms ease;
                    &:hover {
                        background-color: rgba(
                            var(--globalGreenHighlight-background-color-r),
                            var(--globalGreenHighlight-background-color-g),
                            var(--globalGreenHighlight-background-color-b),
                            0.1
                        );
                        color: var(
                            --globalGreenHighlight-background-color-glitch
                        );
                        border: 2px solid
                            var(--globalGreenHighlight-background-color-glitch);
                    }
                    &:first-of-type {
                        margin-bottom: 0.4em;
                    }
                    .MuiSvgIcon-root {
                        margin-right: 0.5em;
                    }
                }
            }
        }
        .MuiCardMedia-img {
            // IMG
            max-width: 70%;
            opacity: 0.8;
            background-size: 500em;
            background-position: 2em;

            margin: 0.2em;
        }
        .MuiCardContent-root {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 0em;
            .login-form {
                // FORM
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                div {
                    color: white;
                    label {
                        color: white;
                    }
                    div {
                        color: white;
                        input {
                            min-width: 17vw;

                            color: white;
                            ::before {
                                color: white;
                            }
                            &::after {
                                color: white;
                            }
                        }
                        button {
                            color: var(--globalGreenHighlight-background-color);
                            transition: color 300ms ease;
                            &:hover {
                                color: var(
                                    --globalGreenHighlight-background-color-glitch
                                );
                            }
                        }
                    }
                }
                .MuiFormControl-root {
                    min-width: 22vw;
                    color: white;
                    border-bottom: 1px solid rgba(126, 216, 193, 0.253);
                    .MuiInputBase-root:after {
                        border-bottom: 1px solid rgba(126, 216, 193, 1);
                    }
                }
                .MuiInputBase-formControl:after {
                    border-bottom: 1px solid rgba(126, 216, 193, 1);
                }
                .MuiTextField-root {
                    color: white;
                }
                .login-input-field {
                    color: white;
                }
            }
        }
        .MuiCardActions-root {
            margin: 1em;
            border: 0.1em solid var(--globalGreenGradient1-background-color);
            padding: 0.3em;
            border-radius: 0.4em;
            .MuiButton-root {
                font-family: "Readex Pro", sans-serif;
                color: var(--globalGreenHighlight-background-color);
                background-color: transparent;
                border: none;
            }
        }
    }
}
