.css-1b0ve20 {
    .css-hz2c15-MuiButtonBase-root-MuiFab-root {
        position: fixed;
        bottom: 4vh;
        right: 3vw;
        background-color: var(--globalGreenGradient1-background-color);
        &:hover {
            background-color: var(--globalGreenGradient2-background-color);
        }
        /* .css-i4bv87-MuiSvgIcon-root {
        } */
    }
}
