.MuiBox-root {
    min-width: 8em;

    .MuiFab-secondary {
        position: fixed;
        bottom: 4vh;
        right: 3vw;
        background-color: var(--globalGreenGradient1-background-color);
        &:hover {
            background-color: var(--globalGreenGradient2-background-color);
        }
    }
}

.showFloating {
    opacity: 1;
    transition: all 3000ms ease;
}

.hideFloating {
    opacity: 0;
    transition: all 3000ms ease;
    pointer-events: none;
}
