.card {
    max-width: 90vw;
    min-width: 90vw;
    @media (min-width: 1300px) {
    }
    .back-btn {
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: flex-end;
        padding-right: 2em;
        .css-i4bv87-MuiSvgIcon-root {
            font-size: 1.25em;
        }
        .back-text {
            margin-left: 0.6em;
            font-size: 1em;
        }
    }
    .content-container {
        display: flex;
        .img-container {
            overflow-y: hidden;
            min-height: 100%;
            max-width: 15em;
            max-height: 28.5em;
            min-height: 28.5em;
            overflow: hidden;
            border-radius: 1.5em 0em 0em 1.5em;
            .card-img-top {
                min-height: 200%;
                min-width: 200%;
                position: relative;
                /*  @media (min-width: 1300px) {
                    bottom: 15vh;
                }
                @media (min-width: 590px) and (max-width: 730px) {
                    // bottom: 8vh;
                }
                @media (min-width: 730px) and (max-width: 1300px) {
                    bottom: 15vh;
                } */
                bottom: 0vh;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: rgba(
                var(--globalGreenHighlight-background-color-r),
                var(--globalGreenHighlight-background-color-g),
                var(--globalGreenHighlight-background-color-b),
                0.009
            );
            background-image: linear-gradient(
                to bottom,
                rgba(
                    var(--globalGreenHighlight-background-color-r),
                    var(--globalGreenHighlight-background-color-g),
                    var(--globalGreenHighlight-background-color-b),
                    0.25
                ),
                transparent
            );
            border-radius: 0em 0em 1.25em 1.25em;
            .card-title {
            }
            .detail-page-title {
                font-size: 2em;
            }
            .detail-page-text {
                font-size: 1.5em;
            }
            .card-text {
            }
            .description-page-text {
                font-size: 1em;
                max-height: 20vh;
                overflow-y: scroll;
                padding-right: 1em;
            }
            .divisor {
                background-color: var(--globalGreenHighlight-background-color);
                border-color: var(--globalGreenHighlight-background-color);
                z-index: 5;
                min-width: 100%;
            }
            .item-counter-component {
                margin: 0 auto;
            }
            .checkout-btn {
                min-height: 3em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-self: center;
                background-color: var(
                    --globalContrastHighlight-background-color-three
                );
                border-color: var(
                    --globalContrastHighlight-background-color-two
                );
                .checkout-text {
                    text-align: center;
                    align-self: center;
                    justify-self: center;
                    margin: auto 1.2em;
                }
            }
        }
    }
}
