.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 90vw;
    margin: 2em auto;
    min-height: 100vh;
    margin-top: 1.5em;
    overflow-x: hidden;

    .loading-sign {
        text-align: center;
        color: var(--globalGreenGradient1-background-color);
    }
    .detail-container {
        min-width: 99.8vw;
        min-height: 100vh;
        margin-left: 0.05em;
    }
}
