.btn-container {
    .badge-icon {
        z-index: -2;
    }
}

.MuiButtonBase-root {
    .css-pwyk3z-MuiBadge-badge {
        z-index: -2 !important;
    }
    .MuiButtonBase-root {
        .MuiBadge-root {
            z-index: 4;
            .css-i4bv87-MuiSvgIcon-root {
                color: "var(--globalGreenGradient1-background-color)";
            }
            .MuiSvgIcon-root {
            }
        }
    }
}

.cart-widget-container {
    display: flex;
    .counter-number {
        color: white;
        // position: absolute;
    }
    .specialClass {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--globalContrastHighlight-background-color-two);
        border-radius: 2em;
        min-width: 1.3em;
        max-width: 1.3em;
        min-height: 1.3em;
        max-height: 1.3em;
    }
    .floating {
        position: absolute;
        top: 0.5em;
        left: 2em;
    }
    .invisible {
        display: none;
    }
    .visible {
        display: flex;
    }
}
