.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    .section-title {
        color: var(--globalContrastHighlight-background-color-four);
        font-family: "Readex Pro", sans-serif;
        font-size: 4.5em;
        font-weight: 200;
        letter-spacing: -0.025em;
        text-shadow: 0px 2px 50px
            var(--globalContrastHighlight-background-color-two);
        .special-msg {
            color: var(--globalGreenHighlight-background-color);
        }
    }
    .long-section {
        font-size: 3.75em;
    }
    .item-list {
        display: flex;
    }
    .selector-container {
        color: white;
    }
}
