.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    .section-title {
        color: white;
    }
    .item-list {
        display: flex;
    }
}
