.checkout-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60vw;
    margin-bottom: 2em;
    .checkout-section-title {
        color: white;
        border-bottom: 2px solid white;
        padding: 0.5em;
        margin-bottom: 0.75em;
        align-self: flex-start;
        margin-left: 4em;
    }
    .checkout-section-subtitle {
        color: white;
        font-weight: 300;
        font-size: 1.7em;
        border-bottom: 2px solid white;
        padding: 0.5em;
        margin-bottom: 1em;
        align-self: flex-start;
        margin-left: 5em;
    }
    .checkout-form {
        min-width: 60vw;
        align-self: flex-start;
        margin-left: 10em;
        display: flex;
        flex-direction: column;

        .form-control {
            background-color: rgba(47, 47, 47, 0.253);
            border-color: rgba(61, 61, 61, 0.253);
            color: white;
        }
        .error-message {
            color: var(--globalContrastHighlight-background-color-two);
            font-size: 1.15em;
            font-family: "Readex Pro", sans-serif;
            font-weight: 300;
        }
        .button-container {
            align-self: flex-end;
            display: flex;
            column-gap: 0.25em;
            .cancel-btn {
                min-width: 10em;
                background-color: var(
                    --globalContrastHighlight-background-color-three
                );
                border-color: var(
                    --globalContrastHighlight-background-color-three
                );
                &:hover {
                    background-color: var(
                        --globalContrastHighlight-background-color-two
                    );
                }
                &:focus {
                    background-color: var(
                        --globalContrastHighlight-background-color-two
                    );
                    box-shadow: 0px 0px 15px 1px
                        rgba(
                            var(
                                --globalContrastHighlight-background-color-alt-r
                            ),
                            var(
                                --globalContrastHighlight-background-color-alt-g
                            ),
                            var(
                                --globalContrastHighlight-background-color-alt-b
                            ),
                            0.4
                        );
                }
            }
            .checkout-btn {
                background-color: var(--globalGreenGradient1-background-color);
                border-color: var(--globalGreenGradient1-background-color);
                min-width: 15em;
                &:hover {
                    background-color: var(
                        --globalGreenHighlight-background-color
                    );
                }
                &:focus {
                    background-color: var(
                        --globalGreenHighlight-background-color
                    );
                    box-shadow: 0px 0px 15px 1px
                        rgba(
                            var(--globalGreenHighlight-background-color-r),
                            var(--globalGreenHighlight-background-color-g),
                            var(--globalGreenHighlight-background-color-b),
                            0.4
                        );
                }
            }
        }
    }
    .checkout-description-container {
        color: white;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        list-style: none;
        font-family: "Readex Pro", sans-serif;
        max-width: 80vw;
        row-gap: 0.5em;
        column-gap: 0.8em;
        .checkout-description-list {
            color: var(--globalGreenHighlight-background-color);
            border: 2px solid var(--globalGreenHighlight-background-color);
            padding: 0.8em;
            display: inline-flex;
            flex-direction: column;

            &:nth-child(odd) {
                float: right;
                clear: right;
            }

            &:nth-child(2n)::after {
                content: "";
                float: right;
                clear: right;
                width: 100%;
            }

            &:first-of-type {
                border-top-left-radius: 1em;
                border-bottom-left-radius: 1em;
                border-left: 2px solid
                    var(--globalGreenHighlight-background-color);
            }
            &:last-of-type {
                border-top-right-radius: 1em;
                border-bottom-right-radius: 1em;
                border-right: 2px solid
                    var(--globalGreenHighlight-background-color);
            }

            .checkout-description-text {
                list-style: none;
                font-weight: 200;
                color: var(--globalGreenGradient1-background-color);
            }
        }
    }
}

.swal2-container {
    margin: 0 auto;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.8) !important;
    background-position: -5em;
    min-width: 99.8vw;
    min-height: 100vh;
    margin-left: 0.05em;
    transition: opacity 500ms ease-in-out;
    .swal2-modal {
        background-color: rgba(20, 44, 33, 0.6);
        border: 2px solid
            rgba(
                var(--globalGreenHighlight-background-color-r),
                var(--globalGreenHighlight-background-color-g),
                var(--globalGreenHighlight-background-color-b),
                0.4
            );
        color: white;
        font-family: "Readex Pro", sans-serif;

        max-height: 97vh;
        .swal2-success {
            margin-top: 1em;
            .swal2-success-line-tip {
                background-color: var(--globalGreenHighlight-background-color);
            }
            .swal2-success-line-long {
                background-color: var(--globalGreenHighlight-background-color);
            }
            .swal2-success-ring {
                border-color: var(--globalGreenHighlight-background-color);
            }
            .swal2-success-circular-line-left {
                background-color: transparent !important;
            }
            .swal2-success-circular-line-right {
                background-color: transparent !important;
            }
            .swal2-success-fix {
                background-color: transparent !important;
            }
        }
        .swal2-title {
            padding-top: 0.7em;
        }
        .swal2-html-container {
            padding-right: 1.5em;
            margin-right: 0em;
            max-height: 57vh;
            overflow-y: hidden;
            .buy-list-subtitle {
                font-weight: 300;
                .buy-list-highlight {
                    color: var(--globalGreenHighlight-background-color);
                }
            }
            .buy-list-line-break {
            }
            .buy-list-container {
                border: 0.5px solid rgba(76, 133, 107, 0.37);
                border-radius: 0.35em;
                color: transparent;
                padding: 0.5em;
                list-style: none;
                max-height: 40vh;
                overflow-y: scroll;
                .buy-list-text {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    color: white;
                }
                .buy-list-line-break {
                    background-color: var(
                        --globalGreenGradient1-background-color
                    );
                }
                .buy-list-item {
                    font-weight: 300;
                    color: white;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
                    display: flex;
                    justify-content: stretch;
                    text-align: justify;
                    padding: 0em 1em 0.9em 1em;
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
                #text {
                    display: none;
                }
            }
        }
        .swal2-actions {
            margin-top: 0em;
            .swal2-confirm {
                background-color: var(--globalGreenGradient1-background-color);
                border-color: var(--globalGreenGradient1-background-color);
                &:hover {
                    background-color: var(
                        --globalGreenHighlight-background-color
                    );
                }
                &:focus {
                    background-color: var(
                        --globalGreenHighlight-background-color
                    );
                    box-shadow: 0px 0px 15px 1px
                        rgba(
                            var(--globalGreenHighlight-background-color-r),
                            var(--globalGreenHighlight-background-color-g),
                            var(--globalGreenHighlight-background-color-b),
                            0.4
                        );
                }
            }
        }
    }
}
