.MuiPaper-root {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    .MuiList-root {
        .MuiMenuItem-root {
            transition: background 500ms ease;
            &:hover {
                background-color: rgba(
                    var(--globalGreenHighlight-background-color-glitch-r),
                    var(--globalGreenHighlight-background-color-glitch-g),
                    var(--globalGreenHighlight-background-color-glitch-b),
                    0.2
                );
            }
            .MuiTouchRipple-root {
            }
            .MuiListItemIcon-root {
                color: white;
            }
        }
    }
}
