.appbarcontainer {
    display: flex;
    align-items: stretch;
    background: rgb(0, 88, 66) !important;
    background-image: linear-gradient(
        120deg,
        var(--globalGreenHighlight-background-color),
        var(--globalGreenGradient1-background-color),
        var(--globalGreenGradient2-background-color)
    ) !important;
    .brand-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .sushi-logo {
            max-width: 5em;
        }
    }
}
