.cart-item-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 196, 147, 0.35);
    .css-1k9ek97 {
        background-color: transparent;
        display: flex;
        align-items: flex-start;
        border-right: 2px solid rgba(0, 196, 147, 0.35);
        .MuiList-padding {
            min-width: 80vw;
            max-width: 80vw;
            border-right: 2px solid rgba(0, 196, 147, 0.25);

            .MuiListItem-padding {
                .MuiListItemSecondaryAction-root {
                    .MuiIconButton-edgeEnd {
                        color: var(--globalGreenHighlight-background-color);
                    }
                }
                .MuiListItemText-multiline {
                    .MuiListItemText-secondary {
                        font-size: 0.95em;
                        color: white;
                        max-width: 80%;
                        text-align: justify;
                        padding: 1em;
                        font-family: "Readex Pro", sans-serif;
                        font-weight: 200;
                    }
                    .MuiListItemText-primary {
                        font-size: 1.5em;
                        font-family: "Readex Pro", sans-serif;
                        .product-link {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
                .MuiListItemAvatar-root {
                    .MuiAvatar-colorDefault {
                        min-width: 5em;
                        min-height: 5em;
                        img {
                        }
                    }
                }
            }
        }
    }
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .cart-info-container {
        .cart-item-text {
        }
        .text-title {
        }
    }
    .cart-description-container {
        min-width: 45%;
        padding: 1em;
    }
    .cart-image-container {
        max-width: 15%;
        padding: 1em;
    }
    .cart-price-container {
        max-width: 15%;
        padding: 1em;
    }
}
