.MuiFormControl-root {
    color: white;
    .MuiInputLabel-root {
        color: white;
    }
    .MuiOutlinedInput-root {
        .MuiSelect-select {
            border-color: white;
            color: white;
            &:hover {
                color: var(--globalGreenHighlight-background-color);
            }
        }
        .MuiSvgIcon-root {
            color: white;
            &:hover {
                color: var(--globalGreenHighlight-background-color);
            }
        }
        .MuiOutlinedInput-notchedOutline {
            color: white;
            border-color: rgba(255, 255, 255, 0.459);
            border-top: none;
            &:hover {
                border-color: var(--globalGreenHighlight-background-color);
            }
            .css-186xcr5 {
                color: red;
            }
        }
    }
    .MuiFormHelperText-root {
        color: white;
    }
}

.MuiInputBase-colorPrimary:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--globalGreenHighlight-background-color) !important;
}
.MuiInputBase-colorPrimary:hover .MuiSvgIcon-root {
    color: var(--globalGreenHighlight-background-color) !important;
}

.MuiModal-root {
    .MuiBackdrop-root {
    }
    .MuiPopover-paper {
        max-height: 30vh;
        overflow-y: scroll;
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: var(--globalGreenHighlight-background-color) !important;
}

.Mui-focused {
    color: var(--globalGreenHighlight-background-color) !important;
}

.MuiMenu-list {
    .Mui-selected {
        background-color: rgba(
            var(--globalGreenHighlight-background-color-glitch-r),
            var(--globalGreenHighlight-background-color-glitch-g),
            var(--globalGreenHighlight-background-color-glitch-b),
            0.2
        ) !important;
    }
}
