:root {
    --globalGreenHighlight-background-color: rgb(0, 196, 147);
    --globalGreenHighlight-background-color-r: 0;
    --globalGreenHighlight-background-color-g: 196;
    --globalGreenHighlight-background-color-b: 147;
    --globalGreenGradient1-background-color: rgb(0, 124, 93);
    --globalGreenGradient2-background-color: rgb(0, 88, 66);
    --globalContrastHighlight-background-color: #c20030;
    --globalContrastHighlight-background-color-r: 194;
    --globalContrastHighlight-background-color-g: 0;
    --globalContrastHighlight-background-color-b: 48;
}
